<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.krishlogic.androidtutorials" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".list.MyList"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name=".contentprovider.StudentContentProvider"
            android:authorities="com.example.provider.College" >
        </provider>

        <activity
            android:name=".broadcast.Broadcast"
            android:label="@string/title_activity_broadcast" >
        </activity>

        <receiver android:name=".broadcast.MyReceiver" >
            <intent-filter>
                <action android:name="net.krishlogic.androidtutorials.BROADCAST_INTENT" >
                </action>
            </intent-filter>
        </receiver>

        <activity
            android:name=".sms.SMS"
            android:label="@string/title_activity_sms" >
        </activity>
        <activity
            android:name=".email.Email"
            android:label="@string/title_activity_email" >
        </activity>
        <activity
            android:name=".camera.CameraApp"
            android:label="@string/title_activity_camera" >
        </activity>
    </application>

    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

</manifest>
